/* Set the size of the div element that contains the map */
.map {
    height: 400px; /* The height is 400 pixels */
    width: 85%; /* The width is the width of the web page */
}

/* Chat containers */
.cont-chat {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
}

/* Darker chat container */
.darker {
    border-color: #ccc;
    background-color: #ddd;
}

/* Clear floats */
.cont-chat::after {
    content: "";
    clear: both;
    display: table;
}

/* Style images */
.cont-chat .avatar {
    float: left;
    max-width: 60px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
}

/* Style the right image */
.cont-chat img.right {
    float: right;
    margin-left: 20px;
    margin-right: 0;
}

/* Style forLoading for the chat */
#loader {
    margin: 0 auto;
    width: 40px;
    height: 40px;
    border: 6px solid #000;
    border-right-color: transparent;
    border-radius: 50%;
    box-shadow: 0 0 25px 2px #eee;
}

#loader {
    animation: spin 1s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
        opacity: 0.2;
    }
    50% {
        transform: rotate(180deg);
        opacity: 1.0;
    }
    to {
        transform: rotate(360deg);
        opacity: 0.2;
    }
}